In [ ]:
print('Hello')

In [ ]:
print('new')

In [ ]:
mystring = 'Hello World'

In [ ]:
print(mystring)

In [ ]:
print('This is {}'.format('Naruto'))

In [ ]:
print('This is {n}'.format(n='Naruto'))

In [ ]:
print('This is {u} {n} {i} '.format(n= 'Naruto',u = 'Uzumaki', i="I'm going to be Hokage"))

In [ ]:
print(f'This is mystring')

In [ ]:
print(f'This is mystring)

In [ ]:
print(f"This is 'mystring'"")

In [ ]:
print(f"This is 'mystring'")

In [ ]:
print(f"This is {mystring}")

In [ ]:
mystring = "Hello mf"

In [ ]:
print(f'This is {mystring}')

In [ ]:
print("This is the %1.5f".format(%3.141516))

In [ ]:
print('This is the %1.5f' %('3.141516'))

In [ ]:
print('This is the %1.5f' %(3.141516))

In [ ]:
print('First %s, Second %d, Third %2.5f' %('Onii-chan', 5.613, 7.54345321))

In [ ]:
qual1 = 'quick'
qual2 = 'brown'
ob = 'fox'

In [ ]:
print(f'This is a {qual1} {qual2} {ob}')

In [ ]:
num = 'one'

In [ ]:
print(f'This is {num} {qual1} {qual2} {ob}')

In [ ]:
hair_count = 3.12311113434

In [ ]:
print(f'This is {num} {qual1} {qual2} {ob} which has {hair_count}')

In [ ]:
print(f'This is {num} {qual1} {qual2} {ob} which has {hair_count:1.4f}')

In [ ]:
print('{0:<8}|{1:^8}|{2:>8}'.format('Left','Center','Right'))

In [ ]:
print('{0:<8}|{1:^8}|{2:>8}'.format('Left','Center','Right'))
print('{0:<8}|{1:^8}|{2:>8}'.format('11','22','33'))

In [ ]:
print('{0:-<8}|{1:-^8}|{2:->8}'.format('Left','Center','Right'))
print('{0:.<8}|{1:.^8}|{2:.>8}'.format('11','22','33'))

In [ ]:
my_list=['Naruto',3.521,'Onii-chan',63]

In [ ]:
my_list.sort()

In [ ]:
my_list.sort(0,2)

In [ ]:
%%writefile myfile.txt
Hello world

In [ ]:
myfile.open('myfile.txt')

In [ ]:
myfile = open('myfile.txt')

In [ ]:
pwd

In [ ]:
myfile = open('myfile.txt')

In [ ]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [ ]:
with open('myfile.txt') as new_file:
    contents = new_file.read()

In [ ]:
contents

In [ ]:
with open('my_new_file.txt') as f:
    print(f.read())

In [ ]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

In [ ]:
with open('my_new_file.txt',mode='a') as f:
    f.write('/nFOUR ON FOURTH')

In [ ]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

In [ ]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

In [ ]:
with open('my_new_file.txt',mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [ ]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

In [ ]:
with open('my_new_file.txt',mode='a') as f:
    f.write('FOUR ON FOURTH')

In [ ]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

In [ ]:
with open('my_new_file.txt',mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [ ]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

In [ ]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [ ]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

In [ ]:
with open('my_new_file.txt',mode='a') as f:
    print(f.write('FOUR ON FOURTH'))

In [ ]:
with open('my_new_file.txt',mode='a') as f:
    f.write('FOUR ON FOURTH')

In [ ]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

In [1]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [4]:
for a,b,c in mylist:
    print(a)
    print(b)
    print(c)

1
2
3
4
5
6
7
8
9

In [5]:
d={'k1':1,'k2':2,'k3':3}

In [6]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [7]:
for key,value in d.items():
    print(key,value)

k1 1
k2 2
k3 3

In [3]:
mylist = []

for x in [2,4,6]:
    for y in [200,400,800]:
        mylist.append(x*y)
print(mylist)

[400, 800, 1600, 800, 1600, 3200, 1200, 2400, 4800]

In [2]:
users = [
    { "id": 0, "name": "Hero" },
    { "id": 1, "name": "Dunn" },
    { "id": 2, "name": "Sue" },
    { "id": 3, "name": "Chi" },
    { "id": 4, "name": "Thor" },
    { "id": 5, "name": "Clive" },
    { "id": 6, "name": "Hicks" },
    { "id": 7, "name": "Devin" },
    { "id": 8, "name": "Kate" },
    { "id": 9, "name": "Klein" }
]

In [26]:
print(users)

[{'id': 0, 'name': 'Hero'}, {'id': 1, 'name': 'Dunn'}, {'id': 2, 'name': 'Sue'}, {'id': 3, 'name': 'Chi'}, {'id': 4, 'name': 'Thor'}, {'id': 5, 'name': 'Clive'}, {'id': 6, 'name': 'Hicks'}, {'id': 7, 'name': 'Devin'}, {'id': 8, 'name': 'Kate'}, {'id': 9, 'name': 'Klein'}]

In [3]:
friendship_pairs = [(0, 1), (0, 2), (1, 2), (1, 3), (2, 3), (3, 4),
                    (4, 5), (5, 6), (5, 7), (6, 8), (7, 8), (8, 9)]

In [4]:
print(friendship_pairs)

[(0, 1), (0, 2), (1, 2), (1, 3), (2, 3), (3, 4), (4, 5), (5, 6), (5, 7), (6, 8), (7, 8), (8, 9)]

In [5]:
friendships = {user["id"]: [] for user in users}

In [20]:
print(friendships)

{0: [], 1: [], 2: [], 3: [], 4: [], 5: [], 6: [], 7: [], 8: [], 9: []}

In [6]:
for i,j in friendship_pairs: 
    friendships[i].append(j)
    friendships[j].append(i)

In [22]:
print(friendships)

{0: [1, 2], 1: [0, 2, 3], 2: [0, 1, 3], 3: [1, 2, 4], 4: [3, 5], 5: [4, 6, 7], 6: [5, 8], 7: [5, 8], 8: [6, 7, 9], 9: [8]}

In [29]:
def number_of_friends(user):
    """How many friends does _user_ have?"""
    user_id = user["id"]
    friend_ids = friendships[user_id]
    return len(friend_ids)

total_connections = sum(number_of_friends(user)
                        for user in users)

In [30]:
print(total_connections)

24

In [31]:
num_users = len(users)

In [32]:
avg_connections = total_connections/num_users

In [33]:
print(avg_connections)

2.4

In [34]:
num_friends_by_id = [(user["id"], number_of_friends(user)) for user in users]

In [35]:
print(num_friends_by_id)

[(0, 2), (1, 3), (2, 3), (3, 3), (4, 2), (5, 3), (6, 2), (7, 2), (8, 3), (9, 1)]

In [36]:
num_friends_by_id.sort(
    key = lambda id_and_friends: id_and_friends[1],
    reverse = True
)

In [37]:
print(num_friends_by_id)

[(1, 3), (2, 3), (3, 3), (5, 3), (8, 3), (0, 2), (4, 2), (6, 2), (7, 2), (9, 1)]

In [38]:
print(friendships)

{0: [1, 2], 1: [0, 2, 3], 2: [0, 1, 3], 3: [1, 2, 4], 4: [3, 5], 5: [4, 6, 7], 6: [5, 8], 7: [5, 8], 8: [6, 7, 9], 9: [8]}

In [7]:
from collections import Counter

def friends_of_friends(user):
    user_id = user["id"]
    return Counter(
        foaf_id
        for friend_id in friendships[user_id]
        for foaf_id in friendships[friend_id]
        if foaf_id != user_id 
        and foaf_id not in friendships[user_id]
    )
print(friends_of_friends(users[3]))

Counter({0: 2, 5: 1})

In [8]:
print(friendships[3])

[1, 2, 4]

In [9]:
interests = [
    (0, "Hadoop"), (0, "Big Data"), (0, "HBase"), (0, "Java"),
    (0, "Spark"), (0, "Storm"), (0, "Cassandra"),
    (1, "NoSQL"), (1, "MongoDB"), (1, "Cassandra"), (1, "HBase"),
    (1, "Postgres"), (2, "Python"), (2, "scikit-learn"), (2, "scipy"),
    (2, "numpy"), (2, "statsmodels"), (2, "pandas"), (3, "R"), (3, "Python"),
    (3, "statistics"), (3, "regression"), (3, "probability"),
    (4, "machine learning"), (4, "regression"), (4, "decision trees"),
    (4, "libsvm"), (5, "Python"), (5, "R"), (5, "Java"), (5, "C++"),
    (5, "Haskell"), (5, "programming languages"), (6, "statistics"),
    (6, "probability"), (6, "mathematics"), (6, "theory"),
    (7, "machine learning"), (7, "scikit-learn"), (7, "Mahout"),
    (7, "neural networks"), (8, "neural networks"), (8, "deep learning"),
    (8, "Big Data"), (8, "artificial intelligence"), (9, "Hadoop"),
    (9, "Java"), (9, "MapReduce"), (9, "Big Data")
]

In [12]:
def data_scientists_who_like(target_interest):
    return [user_id for user_id,interest in interests if interest == target_interest]

print(data_scientists_who_like("Big Data"))

[0, 8, 9]

In [13]:
from collections import defaultdict

# Keys are interests, values are lists of user_ids with that interest
user_ids_by_interest = defaultdict(list)

for user_id, interest in interests:
    user_ids_by_interest[interest].append(user_id)

In [14]:
print(user_ids_by_interest)

defaultdict(<class 'list'>, {'Hadoop': [0, 9], 'Big Data': [0, 8, 9], 'HBase': [0, 1], 'Java': [0, 5, 9], 'Spark': [0], 'Storm': [0], 'Cassandra': [0, 1], 'NoSQL': [1], 'MongoDB': [1], 'Postgres': [1], 'Python': [2, 3, 5], 'scikit-learn': [2, 7], 'scipy': [2], 'numpy': [2], 'statsmodels': [2], 'pandas': [2], 'R': [3, 5], 'statistics': [3, 6], 'regression': [3, 4], 'probability': [3, 6], 'machine learning': [4, 7], 'decision trees': [4], 'libsvm': [4], 'C++': [5], 'Haskell': [5], 'programming languages': [5], 'mathematics': [6], 'theory': [6], 'Mahout': [7], 'neural networks': [7, 8], 'deep learning': [8], 'artificial intelligence': [8], 'MapReduce': [9]})

In [15]:
interests_by_user_id = defaultdict(list)

for user_id, interest in interests:
    interests_by_user_id[user_id].append(interest)

In [16]:
print(interests_by_user_id)

defaultdict(<class 'list'>, {0: ['Hadoop', 'Big Data', 'HBase', 'Java', 'Spark', 'Storm', 'Cassandra'], 1: ['NoSQL', 'MongoDB', 'Cassandra', 'HBase', 'Postgres'], 2: ['Python', 'scikit-learn', 'scipy', 'numpy', 'statsmodels', 'pandas'], 3: ['R', 'Python', 'statistics', 'regression', 'probability'], 4: ['machine learning', 'regression', 'decision trees', 'libsvm'], 5: ['Python', 'R', 'Java', 'C++', 'Haskell', 'programming languages'], 6: ['statistics', 'probability', 'mathematics', 'theory'], 7: ['machine learning', 'scikit-learn', 'Mahout', 'neural networks'], 8: ['neural networks', 'deep learning', 'Big Data', 'artificial intelligence'], 9: ['Hadoop', 'Java', 'MapReduce', 'Big Data']})

In [18]:
from collections import Counter
def most_common_interests_with(user):
    return Counter(
                    user_id 
                    for interest in interests_by_user_id[user["id"]]
                    for interested_user_id in user_ids_by_interest[interest]
                    if interested_user_id != user["id"]
                    )

In [20]:
print(most_common_interests_with(users[0]))

Counter({9: 11})

In [1]:
salaries_and_tenures = [(83000, 8.7), (88000, 8.1),
                        (48000, 0.7), (76000, 6),
                        (69000, 6.5), (76000, 7.5),
                        (60000, 2.5), (83000, 10),
                        (48000, 1.9), (63000, 4.2)]

In [7]:
from collections import defaultdict

salary_by_tenure = defaultdict(list)
for salary, tenure in salaries_and_tenures:
    salary_by_tenure[tenure].append(salary)

print(salary_by_tenure)

defaultdict(<class 'list'>, {8.7: [83000], 8.1: [88000], 0.7: [48000], 6: [76000], 6.5: [69000], 7.5: [76000], 2.5: [60000], 10: [83000], 1.9: [48000], 4.2: [63000]})

In [10]:
average_salary_by_tenure = {
    tenure: sum(salary) / len(salary)
    for tenure,salary in salary_by_tenure.items()
}

In [11]:
print(average_salary_by_tenure)

{8.7: 83000.0, 8.1: 88000.0, 0.7: 48000.0, 6: 76000.0, 6.5: 69000.0, 7.5: 76000.0, 2.5: 60000.0, 10: 83000.0, 1.9: 48000.0, 4.2: 63000.0}

In [12]:
def tenure_bucket(tenure):
    if tenure < 2:
        return "less than two"
    elif tenure < 5:
        return "between two and five"
    else:
        return "more than five"

In [15]:
salary_by_tenure_bucket = defaultdict(list)

for salary, tenure in salaries_and_tenures:
    bucket = tenure_bucket(tenure)
    salary_by_tenure_bucket[bucket].append(salary)

In [16]:
print(salary_by_tenure_bucket)

defaultdict(<class 'list'>, {'more than five': [83000, 88000, 76000, 69000, 76000, 83000], 'less than two': [48000, 48000], 'between two and five': [60000, 63000]})

In [1]:
interests = [
    (0, "Hadoop"), (0, "Big Data"), (0, "HBase"), (0, "Java"),
    (0, "Spark"), (0, "Storm"), (0, "Cassandra"),
    (1, "NoSQL"), (1, "MongoDB"), (1, "Cassandra"), (1, "HBase"),
    (1, "Postgres"), (2, "Python"), (2, "scikit-learn"), (2, "scipy"),
    (2, "numpy"), (2, "statsmodels"), (2, "pandas"), (3, "R"), (3, "Python"),
    (3, "statistics"), (3, "regression"), (3, "probability"),
    (4, "machine learning"), (4, "regression"), (4, "decision trees"),
    (4, "libsvm"), (5, "Python"), (5, "R"), (5, "Java"), (5, "C++"),
    (5, "Haskell"), (5, "programming languages"), (6, "statistics"),
    (6, "probability"), (6, "mathematics"), (6, "theory"),
    (7, "machine learning"), (7, "scikit-learn"), (7, "Mahout"),
    (7, "neural networks"), (8, "neural networks"), (8, "deep learning"),
    (8, "Big Data"), (8, "artificial intelligence"), (9, "Hadoop"),
    (9, "Java"), (9, "MapReduce"), (9, "Big Data")
]

In [1]:
83 // 10* 10

80